{% extends "base.html" %}
{% block title %}Search Page{% endblock %}
{% block contents %}
{% set count = page %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="search-result-box card-box">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="pt-3 pb-4">
                {%if page != -1%}
                <div class="mt-4 text-center"><h4>Search results for: {{user_query}}</h4></div>
                {% else %}
                <div class="mt-4 text-center"><h4>Enter in a search:</h4></div>
                {% endif %}
                <div class="search-form">
                  <form action='/search/0' method="POST">
                      <div class="input-group">
                        <input type="text" name="query" class="form-control input-lg">                    
                        <div class="input-group-btn">
                          <button class="btn  btn-primary" type="submit">Search</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
          {%if page != -1%}
          <ul class="nav nav-tabs tabs-bordered">
              <li class="nav-item"><a href="#home" data-toggle="tab" aria-expanded="true" class="nav-link active">All results <span class="badge badge-success ml-1">{{total}}</span></a></li>
              <li class="nav-item"><a data-toggle="tab" aria-expanded="true" class="nav-link active">Current Page <span class="badge badge-success ml-1">{{count+1}}</span></a></li>
              <li class="nav-item"><a data-toggle="tab" aria-expanded="true" class="nav-link active">Results Range: <span class="badge badge-success ml-1">{{start+1}} - {{end}}</span></a></li>
          </ul>
             <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search-item">
                                {% if search_results_list|length > 0 %}

                                {% for r in search_results_list %}
                                <div class="font-13 text-success mb-3"><a href='{{r[0]}}' target="_blank">{{r[0]}}</a></div>
                                <div class="font-13 text-success mb-3"><p target="_blank">{{r[1]}}</p></div>
  
                                {% endfor %}
                                {% else %}
                                <p class="mt-4 text-center">No search result</P>
                                {% endif %}
                              </div>  
                              <form id ="forward" action='/search/{{count+1}}' method="POST"> 
                                  <input type="hidden" name="query" value='{{user_query}}' >                       
                              </form>
                              <form id ="back" action='/search/{{count-1}}' method="POST"> 
                                <input type="hidden" name="query" value='{{user_query}}' >                       
                            </form>
                            <form id ="same" action='/search/{{count}}' method="POST"> 
                              <input type="hidden" name="query" value='{{user_query}}' >                       
                          </form>
                                <ul class="pagination justify-content-end pagination-split mt-0"> 
                                  {% if page != lower %}
                                  <li class="page-item"><a class="page-link"  onclick="document.getElementById('back').submit();"}" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                                  {% else %}
                                  {% endif %}
                                  <li class="page-item active"><a class="page-link" onclick="document.getElementById('same').submit();">{{count + 1}}</a></li> 
                                  {% if page + 1 != upper %}
                                  <li class="page-item"><a class="page-link" onclick="document.getElementById('forward').submit();" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>     
                                  {% else %}
                                  {% endif %}
                                </ul>
                              <div class="clearfix"></div>
                           </div>
                     </div>
                </div>
                <!-- end All results tab -->

              </div>
            </div>
         </div>
        </div>
        <!-- end row -->
  </div>
  {% else%}
  {% endif %}
  <!-- Footer -->
  <footer id="main-footer" class="pt-2 py-4 bg-dark text-white text-center">
    Copyright &copy;
    <span class="year"></span> Team Dream
  </footer>
  <!-- container -->


{% endblock %}
